# build & IDE
build/
cmake-build-*/
.idea/
.vscode/
*.code-workspace

# Conan
.conan/
conanbuildinfo.cmake
conan_lock.json

# CMake
CMakeFiles/
CMakeCache.txt
*.cmake
compile_commands.json

# Binaries
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# Logs
*.log

# If you use third_party/kortex_api local drop:
third_party/kortex_api/
